name: "Test this action"
on:
  workflow_dispatch:
  push:
    branches: [master]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - uses: softprops/action-gh-release@v2
      with:
        tag_name: v0.1.test-draft-tag-to-remove-${{ github.run_id }}
        name: Test Draft Release To Remove
        draft: true
        prerelease: false
    - uses: softprops/action-gh-release@v2
      with:
        tag_name: v0.2.test-draft-tag-kept-${{ github.run_id }}
        name: Test Draft Release Kept
        draft: true
        prerelease: false

    - uses: softprops/action-gh-release@v2
      with:
        tag_name: v0.3.test-prerelease-tag-to-remove-${{ github.run_id }}
        name: Test Pre-Release To Remove
        draft: false
        prerelease: true
    - uses: softprops/action-gh-release@v2
      with:
        tag_name: v0.4.test-prerelease-tag-kept-${{ github.run_id }}
        name: Test Pre-Release Kept
        draft: false
        prerelease: true

    - name: Create tag not associated with a release
      uses: actions/github-script@v7
      with:
        script: |
          github.rest.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: 'refs/tags/tag-with-no-release',
            sha: context.sha
          })

    - uses: ./
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        n: 1
        remove_tags_without_release: true

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - run: yarn install
    - run: yarn run package
    - name: Check generated files are up to date
      run: git diff --exit-code
